# Ignore virtual environment
parsing/
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment variable files (if sensitive data)
.env

# Ignore editor and OS-specific files
*.swp
.DS_Store
Thumbs.db
